* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans";
}

body {
	height: 100%;
}

@font-face {
	src: url("../fonts/OpenSans-Light.ttf");
	font-family: "Open Sans";
}

.center {
	width: 1200px;
	margin: 0 auto;
	padding: 0 2%;
}

.header {
	min-width: 1200px;
	width: 100%;
	height: 90px;
	background-color: #212343; 
}

.header img {
	margin: 33px;
}

.container-banner {
	width: 100%;
	height: 557px;
	background-image: url("../images/header_bg.png");
	background-size: cover;
	background-position: center;
}

.container-banner > .center {
	min-width: 1200px;
	height: 100%;
}

.form {
	padding: 10px;
	width: 400px;
	height: calc(100% + 30px);
	top: -15px;
	float: right;
	position: relative;
	border-width: 12px;
	border-style: solid;
	border-color: rgba(120,120,120,0.5);
	background-color: #FFF;
	background-clip: padding-box;	

}

.form h3 {
	font-weight: normal;
	color: #999;
	font-size: 21px;
	text-align: center;
}

.input-container {
	margin-top: 20px;
}

.input-container span, form p {
	display: inline-block;
	width: 100%;
	color: #BBB;
	font-size: 17px;
}

.form p {
	margin: 20px 0;
}

.input-container input[type=text] {
	margin-top: 8px;
	width: 344px;
	height: 55px;
	border: 1px solid #CCC;
}

.input-submit {
	text-align: center;
}

.form input[type=submit] {
	border: 0;
	color: #FFF;
	font-weight: bold;
	font-size: 23px;
	width: 280px;
	height: 56px;
	background-color: #212343;
	cursor: pointer;
	border-bottom: 5px solid #363A6D;
}

.form input[type=submit]:hover {
	background-color: #363A6D;
}

.container-list {
	padding: 30px;
	float: left;
	width: 520px;
	height: 270px;
	background-color: rgba(33,35,67,0.7);
	margin-top: 100px;
}

.container-list ul {
	list-style-position: inside;
}

.container-list ul li {
	margin-top: 20px;
	color: #FFF;
}

.container-2 {
	min-width: 1200px;
	padding: 40px 0;
	background-color: #DDD;
	text-align: center;
}

.container-2 h2 {
	font-weight: normal;
}

.container-2 p {
	width: 700px;
	margin: 15px 0;
	display: inline-block;
	text-align: justify;
}

.arrow {
	position: relative;
	top: 60px;
	left: 50%;
	margin-left: -20px;
	width: 40px;
	height: 40px;
	background-image: url("../images/arrow.png");
	background-size: 100% 100%;
}

.clear {
	clear: both;
}

.section-1 {
	min-width: 1200px;
	padding: 90px 0;
}

.section-1 h2 {
	text-align: center;
	color: #462663;
	font-weight: normal;
}

.container-section {
	margin-top: 40px;
	text-align: center;
}

.container-single {
	float: left;
	width: 33.333%;
	padding: 30px;
}

.container-single p {
	display: inline-block;
	text-align: justify;
	padding: 10px 25px;
}

.container-single img {
	width: 70px;
}

.footer {
	border-top: 2px solid #888;
	padding: 30px 0;
	text-align: center;
	color: #888;
}

.footer p {
	margin-top: 8px;
}